<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
         
         <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <!--Fontawesome CDN-->
	    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

        <!-- Common CSS -->
        <link rel="stylesheet" type="text/css" href="../../css/layout.css"/>
        <!-- Own CSS -->
        <link rel="stylesheet" type="text/css" href="{{style}}"/>

        <title>{{title}}</title>
    </head>

    <body>
      <nav class="navbar navbar-light bg-light text-dark">
        <a class="navbar-brand" href="#">
        <img src="../images/logo.png" width="50" height="50" class="d-inline-block align-top" alt=""/>
        <span>Steamin' Mugs</span>
        </a>
      </nav>



        {{{body}}}

{{!-- ===================================== Footer ========================================= --}}

{{!-- <footer>
  <div id="social-icons">
<a href="https://www.facebook.com/cafecoffeeday" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
<a href="https://twitter.com/CafeCoffeeDay" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
<a href="https://www.instagram.com/cafecoffeeday" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
<a href="https://www.linkedin.com/company/cafe-coffee-day" target="_blank"><i class='fa fa-linkedin' aria-hidden="true"></i></a>
</div>

<br/>

<div class="each-link-set hidden-xs">
  <nav class="f-links"> 
  <a class="transition" href="/cafe-menu">Cafe Menu</a> 
  <a class="transition" href="/aboutus">About Us</a>
  <a class="transition" href="/contactus">Contact Us</a>
  <a class="transition" href="https://en.wikipedia.org/wiki/Coffee_preparation">Coffee Preparation FAQ</a>
  </nav>
 </div> 

<br/>

<div class="copy-rights">
  <p>© Steamin' Mugs & Co. All rights reserved.</p></div>
</div>
</footer> --}}


 


        <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

  <script src="{{script}}"></script>
    </body>
</html>
