<!-- Sidebar -->

    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Manage
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/manager/menu-management">MENU MANAGEMENT</a>
                </li>
                <li class="list-group-item">
                    <a href="/manager/order-management">ORDER MANAGEMENT</a>
                </li>
                <li class="list-group-item">
                    <a href="/manager/stock-management">STOCK MANAGEMENT</a>
                </li>
                <li class="list-group-item" id="emp-mgmt">
                    <a href="/manager/employee-management">EMP MANAGEMENT</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
      
<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 shadow-lg p-3 mb-5 rounded bg-white">
                <h1 class="display-6">Employee Management Panel</h1><br/>
                 <p>This control center can be used to view/edit/delete an employee's profile or add a new employee.</p>
                 <button class="btn btn-success" id="add-employee" data-toggle="modal" data-target="#addModal">Add Employee</a>
                 <button class="btn btn-primary" id="list-employees">List Employees</button>
                 <a href="#menu-toggle" class="btn btn-danger" id="menu-toggle">Toggle Menu</a>
            </div>
        </div>
        <div class="row employee-list">
                <div class="col-lg-12 shadow-lg p-3 mb-5 rounded bg-dark">
                    <button class="btn btn-warning" id="hide-employees">Hide</button>
                    <br/><br/>
                <div class="card-deck">
                 {{#each data}}
                 
                 <div class="card col-4" style="min-width:25%;margin-top:10px;">
                    <div class="card-body shadow-lg p-3 mb-5 rounded bg-white">
                        <h5 class="getId card-title text-center">{{this.emp_id}}</h5>
                        <h5 class="getName card-title text-center">{{this.emp_name}}</h5>
                        <p class="card-text text-center">
                            {{this.job}}<br/>                         
                        </p>
                        <a href="/manager/employee-management/employee/{{this.emp_id}}" class="view-btn btn btn-dark">View</a>
                        <a href="#" class="delete-btn btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</a>
                    </div>
                </div>
                {{/each}}
            </div>
           </div>
           </div> 
    </div>
</div>
        <!-- /#page-content-wrapper -->
    </div>
<!-- /#wrapper -->

<!-- Add Modal -->

 <div class="modal fade" id="addModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form role="form" method="POST" action="/manager/employee-management/employee/" enctype="multipart/form-data">
        <div class="form-group">
                <label class="control-label">Employee ID</label>
                        <div>
                            <input type="text" id="id" class="form-control input-lg" name="id">
                        </div>
            </div> 
            <div class="form-group">
                <label class="control-label">Name</label>
                        <div>
                            <input type="text" id="name" class="form-control input-lg" name="name">
                        </div>
            </div> 
            <div class="form-group">
            <label class="control-label">Age</label>
                        <div>
                            <input type="number" id="age" class="form-control input-lg" name="age">
                        </div>
            </div>
            <div class="form-group">
            <label class="control-label">Email</label>
                        <div>
                            <input type="email" id="email" class="form-control input-lg" name="email">
                        </div>
            </div>
            <div class="form-group">
            <label class="control-label">Gender</label>
            <div>
            <input type="radio" id="gender-male" name="gender" value="Male" checked>
                        <label for="gender-male">Male</label>
                        <input type="radio" id="gender-female" name="gender" value="female">
                        <label for="gender-female">Female</label>
                        <input type="radio" id="gender-other" name="gender" value="other">
                        <label for="gender-other">Other</label><br>
                    </div>
                </div>        
            <div class="form-group">
            <label class="control-label">Address</label>
                        <div>
                            <input type="text" id="address" class="form-control input-lg" name="address">
                        </div>
            </div>
            <div class="form-group">
                <label class="control-label">Role</label>
                        <div>
                            <select class="form-control" id="role" name="role">
                                <option>Employee</option>
                            </select>   
                        </div>
            </div> 
            <div class="form-group">
            <label class="control-label">Job</label>
                        <div>
                            <input type="text" id="job" class="form-control input-lg" name="job">
                        </div>
            </div>
            <div class="form-group">
            <label class="control-label">Username</label>
                        <div>
                            <input type="text" id="username" class="form-control input-lg" name="username">
                        </div>
            </div>

          <div class="form-group">
                <label class="control-label">Password</label>
                        <div>
                            <input type="password" id="password" class="form-control input-lg" name="password">
                        </div>
            </div> 
            <div class="form-group">
                <label class="control-label">Joining Date</label>
                        <div>
                            <input type="date" id="joining_date" class="form-control input-lg" name="joining_date">
                        </div>
            </div> 
             <div class="form-group">
                <label class="control-label">Profile Pic</label>
                        <div>
                            <input type="file" id="profile_pic" class="form-control input-lg" name="profile_pic"><br/>
                            <button type="submit" class="btn btn-secondary">Upload Image</button>
                        </div>
            </div> 
            <div class="form-group">
                <input type="checkbox" id="is_empofmonth" name="is_empofmonth">
                 <label class="control-label">Employee of Month</label><br/>
            </div>
            <p id="message">Employee added successfully !</p> 
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" onclick=location.reload()>Close</button>
        <button type="button" class="btn btn-primary" id="save">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Timesheet Modal -->

 <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title">Delete <span id="for-name"></span>?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="del-confirm">
          <p >Are you sure you want to proceed with this delete ?</p>
        </div>
        <div class="modal-body" id="timesheetdel-successmsg">
            <p>Employee deleted successfully !</p>
        </div>
        <div class="modal-footer bg-warning" id="confirm-footer">
        <button type="button" class="btn btn-success" id="yes-del">Yes</button>
        <button type="button" class="btn btn-danger" id="no-del" data-dismiss="modal">No</button>
        </div>
      <div class="modal-footer bg-warning" id="del-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" onclick=location.reload()>Close</button>
      </div>
    </div>
  </div>
</div>





 <!-- View Modal -->   

{{!-- <div class="modal fade" id="viewModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title">Employee Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="empdetails-box">
        
      </div>
      <div class="modal-footer bg-warning">
        <button type="button" class="btn btn-secondary" id="view-close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
 --}}
