
<header id="mu-header"> 
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <div class=" sticky-top collapse navbar-collapse" id="navbarNavAltMarkup">
          <img src="https://res.cloudinary.com/dmjrhkn5z/image/upload/v1568126153/yb3f79beb6yopuay6rvb.png" class ="logo"></a>
          
             <span class="navbar-text expressotext">
                    <h2>Expresso</h2>
            </span>

           <div class="collapse navbar-collapse  justify-content-end" id="navbarText">

                    <ul class="navbar-nav float-md-right mu-main-nav">
                    <li class="nav-item">
                        <a class="nav-link" style="text-align: right" href="/"><em><strong>Home</strong></em></a>
                    </li>
                   
                    <li class="nav-item">
                        <a class="nav-link" style="text-align: right" href="#mu-counter"><em><strong>Speciality</strong></em></a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link"  style="text-align: right" href="#mu-restaurant-menu"><em><strong>Cafe Menu</strong></em></a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" style="text-align: right" href="#mu-contact"><em><strong>Contact Us</strong></em></a>
                    </li>

                     <li class="nav-item">
                        <a class="nav-link" style="text-align: right" href="#mu-about-us"><em><strong>About Us</strong></em></a>
                    </li>
                </ul>
                   
            </div> 


        </div>
    </nav>
</header>



 {{!-- ======================================================================= --}}
  
  <section id="mu-single">
    <div class="mu-single-area"> 
      <div class="mu-top-single"> 
     
          <div class="mu-top-single-single">
                <img class ="pic1" src="https://res.cloudinary.com/dmjrhkn5z/image/upload/v1568126896/fcef82hvgp31hdwsv7rt.jpg" alt="img">
                
                <div class="mu-top-single-content">
                    <span class="mu-single-small-title">Welcome</span>
                    <h2 class="mu-single-title">To The Expresso</h2>
                    <p>Coffee makes us severe, and grave, and philosophical.</p>           
                
                </div>

            </div>

        </div>
    </div>
  </section>
  

  {{!-- ======================================================================================= --}}

  
  <section id="mu-counter">
    <div class="mu-counter-overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="mu-counter-area">

                <div class="mu-counter-area-content">
                    <span class="mu-counter-area-content-title">Our<br/>Speciality</span>
                </div>

                <div class="card-deck">
                    <div class="card">
                        <img src="https://res.cloudinary.com/dmjrhkn5z/image/upload/v1568126198/u1bcq7ykf8dfoyp1kn8s.jpg" class="card-img-top" alt="img">
                        <div class="card-body">
                        
                        <p class="card-text">Frappuccino Coffee</p>
                        
                        </div>
                    </div>
                    <div class="card">
                        <img src="https://res.cloudinary.com/dmjrhkn5z/image/upload/v1568126220/mprr0nemr20wwuqtgnja.jpg" class="card-img-top" alt="img">
                        <div class="card-body">
                        
                        <p class="card-text">Cappuccino</p>
                     
                        </div>
                    </div>
                    <div class="card">
                        <img src="https://res.cloudinary.com/dmjrhkn5z/image/upload/v1568126549/thldz2ziikyjbtpo9lpz.jpg" class="card-img-top" alt="img">
                        <div class="card-body">
                       
                        <p class="card-text">White Forest cake</p>
                        
                        </div>
                    </div>
                    </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

  {{!-- ================================================================================== --}}

  <section id="mu-restaurant-menu">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-restaurant-menu-area">

                <div class="mu-title-menu">
                <span class="mu-subtitle">Discover</span>
                <h2>OUR MENU</h2>
                </div>

            <div class="mu-restaurant-menu-content container mt-5">
             <ul class="nav nav-tabs mu-restaurant-menu">
                <li class="active" id="menuName">
                </li>
              </ul>

              
                   <br/><br/><br/><div style ="height:450px width:300px" class="row" id="pc"></div>
              
                 
               
                  
            </div>
           </div>
        </div>
      </div>
    </div>
  </section>
  
  
 
{{!-- =============================================================== --}}
  
       


  <section id="mu-contact">

    <div class="container pic2">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-contact-area">

            <div class="mu-title">
                <h2>Contact Us</h2>
            </div>

            <div class="mu-contact-content">
              <div class="row">

                <div class="col-md-6">
                  <div class="mu-contact-left">
                  
                    <div id="form-messages"></div>
                      <div class="form-group">
                        <label for="name">Your Name<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="txtname" id="txtname" placeholder="Enter Name" required>
                      </div>
                      <div class="form-group">
                        <label for="email">Email address<span class="text-danger">*</span></label>
                        <input type="email" class="form-control" name="txtemail" id="txtemail" placeholder="Enter Email"required>
                      </div>                      
                    
                      <div class="form-group">
                        <label for="message">Message<span class="text-danger">*</span></label>                        
                        <textarea class="form-control" id="txtmessage" name="txtmessage" cols="25" rows="5" placeholder="Type Your Message" required></textarea>
                      </div>                      
                      {{!-- <button type="submit" onclick="show_alert();" value="submit" id ="send_email" class="mu-send-btn" >Send Message</button> --}}
                      <button id ="btnsendemail" class="mu-send-btn btn btn-success" >Send Message</button>
                      <span id="message" style="color: green;font-size:20px"></span>
                    </form>
                   
                   
                    {{!-- <form>
                      <div class="form-group">
                        <label for="name">Your Name</label>
                        <input type="text" class="form-control" name="txtname" id="txtname" placeholder="Name" required>
                      </div>
                      <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" name="txtemail" id="txtemail" placeholder="Email" required>
                      </div>                      
                    
                      <div class="form-group">
                        <label for="message">Message</label>                        
                        <textarea class="form-control" id="txtmessage" name="txtmessage"  cols="25" rows="5" placeholder="Type Your Message" required></textarea>
                      </div>                      
                      <button id ="btnsendemail" class="mu-send-btn" >Send Message</button>
                        <span id="message" style="color: green;font-size:20px"></span>
                    </form> --}}
                  </div>

                  
                </div>

                <div class="col-md-6">
                  <div class="mu-contact-right">
                   
                    <div class="mu-contact-widget">
                      <h3>Open Hours</h3>                      
                      <address>
                        <p><span>Monday - Friday</span> 9.00 am to 12 pm</p>
                        <p><span>Saturday</span> 9.00 am to 10 pm</p>
                        <p><span>Sunday</span> 10.00 am to 12 pm</p>
                      </address>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

  
{{!-- =========================================================================== --}}
 
 <section id="mu-about-us">
     <div class="container">

         <div class="mu-title-about">
             <h2>ABOUT US</h2>
        </div>
    <div class="wrap-intro for-page for-our-food">
     
        <div class="row">
          <div class="wrap-pic-intro col-sm-10 col-md-8 col-lg-5">
            <div class="hover-img ">
              <img class= "pic3" src="https://cdn.pixabay.com/photo/2017/05/12/08/29/coffee-2306471__340.jpg" alt="img">
            </div>
          </div>

          <div class="text-intro col-sm-10 col-md-8 col-lg-7 wow fadeInDown">
            
            <p>
              Steamin' Mugs was founded by Aswathy-Divyansh-Ashish, three coffee lovers. Through this, they share their love of fine coffee and of giving back to the community.  All net profits from sales at this outlet are donated to charity.
            </p>
            <p>
              Each year, Steamin' Mugs plan to select an organization that is making a difference in the community. For 2019, the New Horizons Program at The City Mission will serve as beneficiary. The Attainu family are active volunteers with this organization who provide skill oriented training to youth and help making a better career. 
            </p>
          </div>

        </div>
      </div>

  </div>
  </section>


 {{!-- =========================================================================================================  --}}
  
  <footer>
      <div id="social-icons">
      <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="https://twitter.com" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/company" target="_blank"><i class='fa fa-linkedin' aria-hidden="true"></i></a>
      </div>

      <br/>

      <div class="each-link-set hidden-xs">
        <nav class="f-links"> 
        <a class="transition" href="#mu-restaurant-menu">Cafe Menu</a> 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="transition" href="#mu-about-us">About Us</a>
        &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<a class="transition" href="#mu-contact">Contact Us</a>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="transition" href="https://en.wikipedia.org/wiki/Coffee_preparation">Coffee Preparation FAQ</a>
        </nav>
      </div> 

      <br/>

      <div class="copy-rights">
        <p>© Steamin' Mugs & Co. All rights reserved.</p>
      </div>
</footer>
