<!-- Sidebar -->

    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Manage
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/manager/menu-management">MENU MANAGEMENT</a>
                </li>
                <li class="list-group-item">
                    <a href="/manager/order-management">ORDER MANAGEMENT</a>
                </li>
                <li class="list-group-item">
                    <a href="/manager/stock-management">STOCK MANAGEMENT</a>
                </li>
                <li class="list-group-item">
                    <a href="/manager/employee-management">EMP MANAGEMENT</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
      
<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 shadow-lg p-3 mb-5 rounded bg-white">
                <h1 class="display-6">Menu Management Panel</h1><br/>
                 <p>This control center can be used to view/edit/delete menu items from a menu or add a new menu.</p>
                 <button class="btn btn-success" id="add-menu" data-toggle="modal" data-target="#addMenuModal">Add New Menu</a>
                 <button class="btn btn-primary" id="list-menus">List Menus</button>
                 <a href="#menu-toggle" class="btn btn-danger" id="menu-toggle">Toggle Menu</a>
            </div>
        </div>
        <div class="row" id="menu-list">
            <div class="col-lg-12 shadow-lg p-3 mb-5 rounded bg-dark" style="position:relative;">
                <button class="btn btn-warning" id="hide-menus">Hide</button>
                <br/><br/>
                
                <div class="card-deck">
                 {{#each data}}
                 
                 <div class="card col-4 square" style="min-width:25%;max-width:30%;padding-top:20px;margin-top:10px;">
                     <img class="card-img-top" src={{this.menu_pic}}>
                    <div class="card-body shadow-lg p-3 mb-5 rounded bg-white">
                       
                        <p class="menu-oid">{{this._id}}</p>
                        <h5 class="card-title text-center" id="getName">{{this.menu_name}}</h5>
            
                        <a href="/manager/menu-management/menu/{{this._id}}" class="view-btn btn btn-dark">View</a>
                        <a href="#" class="menudelete-btn btn btn-danger" data-toggle="modal" data-target="#deleteMenuModal">Delete</a>
                    </div>
                </div>
                {{/each}}
                </div>
            </div>
        </div>        
    </div>
</div>
        <!-- /#page-content-wrapper -->

</div>
    <!-- /#wrapper -->

 <!-- Delete Menu Modal -->

 <div class="modal fade" id="deleteMenuModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title">Delete Menu ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="del-confirm">
          <p >Are you sure you want to proceed with this delete ?</p>
        </div>
        <div class="modal-body" id="menudel-successmsg">
            <p>Menu deleted successfully !</p>
        </div>
        <div class="modal-footer bg-warning" id="confirm-footer">
        <button type="button" class="btn btn-success" id="yes-del">Yes</button>
        <button type="button" class="btn btn-danger" id="no-del" data-dismiss="modal">No</button>
        </div>
      <div class="modal-footer bg-warning" id="del-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" onclick=location.reload()>Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Add New Menu Modal -->
    <div class="modal fade" id="addMenuModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title">New Menu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form role="form" id="menu-form" method="POST" action="/manager/getAllMenus/" enctype="multipart/form-data">
          <div class="form-group">
                <label class="control-label">Menu No.</label>
                        <div>
                            <input type="number" id="menu-no" class="form-control input-lg" name="menu_no">
                        </div>
            </div> 
            <div class="form-group">
                <label class="control-label">Menu Name</label>
                        <div>
                            <input type="text" id="menu-name" class="form-control input-lg" name="menu_name">
                        </div>
            </div>
            <div class="form-group">
                <label class="control-label">Image</label>
                        <div>
                          <input type="file" id="menu-pic" class="form-control input-lg" name="menu_pic"><br/>
                        </div>
            </div> 
            <div id="addmenu-successmsg">
            <p>Menu added !</p>
            </div>
     
      </div>
      <div class="modal-footer bg-warning">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick=location.reload()>Close</button>
        <button type="submit" class="btn btn-primary" id="next-btn">Add</button>
      </div>
      </form>
    </div>
  </div>
</div>    
