<div class="container" id="table-box">
        <div class="row">
            <div class="col-lg-12 shadow-lg p-3 mb-5 rounded bg-white">
               
                
                <div class="d-inline" id="button-box">
                    <a href="#" class="btn btn-md btn-info" id="addmenuitem-btn" data-toggle="modal" data-target="#additemModal">Add New</a>
                    <a href="/manager/menu-management" class="btn btn-md btn-danger" id="back-btn">Back</a>
                </div>
                <br/>
                 {{#each data}}
                {{#if @last}}
                    <p id="newmenuoid">{{this._id}}</p>
                    <h3 class="text-center text-info float-left text-center">New Menu : <span id="getName">{{this.menu_name}}</span></h3><br/><br/>
                {{/if}}
                {{/each}}    
                    <div class="container">
                <table class="table table-dark table-striped table-hover">
                <tbody id="item-box">
                    <tr>
                        <th class="text-warning">Item No</th>
                        <th class="text-warning">Item Name</th>
                        <th class="text-warning">Price</th>
                        <th class="text-warning">Image</th>              
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>



<!-- Add Menu Item Modal -->
    <div class="modal fade" id="additemModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title">Add Menu Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form id="addmenuitem-form" role="form" method="POST" action="" enctype="multipart/form-data">
              <div class="form-group">
                <label for="menuitem-no" id="label">Item No.</label>
                <div class="input-group mb-3">
                    <input type="text" id="menuitem-no"  class="form-control input-lg" name="menuitem_no"/>      
                </div>   
            </div> 
            <div class="form-group">
                <label for="menuitem-name" id="label">Item Name</label>
                <div class="input-group mb-3">
                    <input type="text" id="menuitem-name"  class="form-control input-lg" name="menuitem_name" placeholder="Name"/>      
                </div>   
            </div> 
            <div class="form-group">
                <label for="price" id="label">Price</label>
                <div class="input-group mb-3">
                    <input type="number" id="price" class="form-control input-lg" name="price" placeholder="Rs."/>
                </div>
            </div>
            <div class="form-group">
                <label for="img" id="label">Image</label>
                <div class="input-group mb-3">
                    <input type="file" id="item_pic" class="form-control input-lg" name="item_pic"><br/>
                </div>
            </div>
            <div id="addmenuitem-successmsg">
            <p>Item added !</p>
            </div>
            </form>
      </div>
      <div class="modal-footer bg-warning">
        <button type="button" class="btn btn-success" id="add">Add</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>  
      </div>
    </div>
  </div>
</div>

                