body {
  background-color: #ffffff;
  font-family: "Prata", serif;
  color: #333333;
  font-size: 15px;
  overflow-x: hidden;
  line-height: 24px;
}

.card-text{
  font-family: "Prata", serif;
  text-align: center;
}


.logo{
  height: 70px;
}

.expressotext{
  margin-left: 10px;
  font-family: Harlow Solid Italic, serif;
}

/* .navbar-expand-lg{
background-color: #6F3E20;
} */

​


.pic1 {
  height:650px;
  
}

.pic2 {
  height:500px;
  
}

.pic3{
height:350px;
width:673px;
}
.no-padding {
  padding: 0;
}
  

img {
  border: none;
  max-width: 100%;
}


/* =========================================================================== */

  
#mu-header {
 
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}

.navbar-nav { 
  overflow: hidden; 
 
}
  

.navbar-nav li { 
      
  display: block;
  font-size: 17px;
  color: black; 
  text-align: center; 
  margin-right: 40px;
  padding: 5px 0;
  text-decoration: none; 
  } 
  
.navbar-nav li:hover { 
  background-color: white; 
  
  border-bottom: 1px solid brown;
  border-top: 1px solid brown;

  } 





/* =================================================================================================== */
#mu-single {
 
  float: left;
  width: 100%;
  position: relative;
}

.mu-single-area {
  float: left;
  width: 100%;
}

.mu-top-single {
   
  float: left;
  width: 100%;
}



.mu-top-single-single {
     float: left;
  position: relative;
  width: 100%;
}

.mu-top-single .mu-top-single-single:after {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
}

.mu-top-single .mu-top-single-single img {
  width: 100%;
}

.mu-top-single .mu-top-single-single .mu-top-single-content {
  position: absolute;
  left: 15%;
  top: 30%;
  right: 15%;
  text-align: center;
  z-index: 99;
}

.mu-top-single .mu-top-single-single .mu-top-single-content .mu-single-small-title {
  font-family: "Tangerine", cursive;
  color: #fff;
  font-size: 100px;
  font-weight: 400;
  line-height: 40px;
}

.mu-top-single .mu-top-single-single .mu-top-single-content .mu-single-title {
  color: #fff;
  font-size: 70px;
  line-height: 90px;
}

.mu-top-single .mu-top-single-single .mu-top-single-content p {
  color: #fff;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
  padding: 0 30px;
}


/* ================================================================== */


#mu-counter {
  background-attachment: fixed;
  background-image: url("https://cdn.pixabay.com/photo/2018/09/21/10/36/coffee-beans-3692803_960_720.jpg");
  background-size: cover;
  float: left;
  width: 100%;
  height: 550px;
}

.mu-counter-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 150px 0;
  float: left;
  width: 100%;
  height: 550px;
}

 .mu-counter-area {
  
  float: left;
  width: 100%;
}
 
.mu-counter-area-content .mu-counter-area-content-title {
  font-family: "Tangerine", cursive;
  color: #fff;
  font-size: 80px;
  font-weight: 400;
  float: left;
  line-height: 50px;
  margin-top: 3px;
  margin-left:6px;
}


/* ========================================================================= */

#mu-restaurant-menu {
 
  background-attachment: fixed;
  background-image: url("https://res.cloudinary.com/divytri/image/upload/v1567836413/dtoabtier7jm55szjfz6.jpg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  float: left;
  width: 100%;
  padding: 80px 0;
  height:800px;
}

.mu-restaurant-menu-area {
 
  float: left;
  width: 100%;
  
}

.mu-restaurant-menu-content {

  float: left;
  margin-top: 30px;
  width: 100%;
}

.mu-restaurant-menu {
 
  width: 100%;
  text-align: center;
  border: none;
}

.mu-restaurant-menu li {
  display: inline-block;
  float: none;
  
}

.btn-primary {
  color: #fff;
  background-color: brown;
  border-color: black;
  text-transform:lowercase;
}


/* .mu-restaurant-menu li a:hover,
.mu-restaurant-menu .active a,
.mu-restaurant-menu .active a:hover,
.mu-restaurant-menu .active a:focus {
  background-color: rgb(255, 255, 255);
}
 */
  
/* ============================================================= */


#mu-contact {
  background-color: #AE8866;
  float: left;
  padding: 50px 0 20px 0;
  width: 100%;
  height:650px;
}

.mu-contact-area {
  float: left;
  width: 100%;
}

.mu-contact-content {
  float: left;
  margin-top: 30px;
  width: 100%;
}

.mu-contact-left {
  float: left;
  font-family: "Open Sans", sans-serif;
  width: 100%;
}

.mu-contact-left .form-group {
  margin-bottom: 25px;
}

.mu-contact-left .form-group label {
  font-size: 16px;
  margin-bottom: 8px;
  letter-spacing: 0.5px;
}

.mu-contact-form input[type="text"],
.mu-contact-form input[type="email"] {
  color: #000;
  border-radius: 0;
  height: 40px;
}

.mu-contact-form input[type="text"]:focus,
.mu-contact-form input[type="email"]:focus {
  box-shadow: none;
}

.mu-contact-form textarea {
  color: #000;
  border-radius: 0;
  padding: 10px;
}

.mu-contact-form textarea:focus {
  box-shadow: none;
}

.mu-contact-right {
  
  float: left;
  padding: 0 30px;
  width: 100%;
}

.mu-contact-right .mu-contact-widget {
 
  float: left;
  margin-bottom: 25px;
  width: 100%;
}

.mu-contact-right .mu-contact-widget h3 {
  margin-top: 0px;
  padding-bottom: 10px;
  display: inline-block;
}

.mu-contact-right .mu-contact-widget > p {
  letter-spacing: 0.5px;
  line-height: 26px;
}

.mu-contact-right .mu-contact-widget address {
  margin-top: 20px;
}

.mu-contact-right .mu-contact-widget address p {
  letter-spacing: 0.5px;
}

.mu-contact-right .mu-contact-widget address p i {
  margin-right: 10px;
  width: 20px;
  text-align: center;
}

.mu-contact-right .mu-contact-widget address p span {
  display: inline-block;
  margin-right: 20px;
  min-width: 130px;
}

#form-messages {
  margin-bottom: 10px;
    background-color: #fff;
}



.mu-title {
  float: left;
  width: 100%;
  
  margin-bottom: 20px;
  text-align: center;
}

.mu-title-menu{
  float: left;
  width: 100%;
  
  margin-bottom: 20px;
  text-align: center;
}

.mu-title .mu-subtitle {
  font-size: 50px;
  font-family: "Tangerine", cursive;
  line-height: 30px;
}
  
.mu-title-menu .mu-subtitle {
  font-size: 50px;
  font-family: "Tangerine", cursive;
  line-height: 30px;
}

.mu-title h2 {
  color: #000;
  font-size: 35px;
  margin-bottom: 5px;
}

.mu-title-menu{
  color: white;
  font-size: 35px;
  margin-bottom: 5px;
}

/* ============================================================================================= */

#mu-about-us {

float: left;
width: 100%;
padding: 50px 0;
height:650px;
}

.mu-title-about {
 margin-top:10px;
margin-bottom: 20px;
text-align: center;
}

.wrap-intro{
margin-top: 70px;
}


.mu-title-about h2 {
color: #000;
font-size: 35px;
margin-bottom: 5px;
}



/* =============================================================================== */

.modal {
  display: none;
  position: fixed;
  background: white;
  padding: 10px;
  width: 260px;
  top: 100px;
  left: calc(50% - 140px);
  z-index: 1;    
}


.modal h1 {
  margin: 0;
}

  
.menupic{
  height:265px;
  width:280px;

}
​
/* #mu-restaurant-menu {
   overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  margin: 0 auto; 
  
} */

#mu-restaurant-menu {
  display: flex;
overflow-x: auto;
overflow-y: auto;
}